/* sidebar.css */
.sidebar {
    background-color: #1c1f22;
    width: 250px;
    padding-top: 10px;
}

.logo {
    font-size: 24px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.content {
    padding: 20px;
    background-color: #f4f4f4;
}

.ant-menu-dark .ant-menu-item:hover {
    background-color: #495057 !important;
    color: #fff !important;
}

.ant-menu-dark .ant-menu-item-selected {
    background-color: #007bff !important;
    color: #fff !important;
}
