.homepage-main {
    min-height: 100vh;
    background-color: #f8f9fa;
}

.homepage-container {
    max-width: 1200px;
    margin: 0 auto;
}

.ant-card {
    border-radius: 8px !important;
    background-color: white !important;
    box-shadow: 0 4px 8px rgba(59, 59, 59, 0.08), 0 8px 16px rgba(99, 99, 99, 0.08) !important;
}

.ant-card-head-title {
    font-weight: bold;
    font-size: 16px;
}

h2 {
    font-size: 24px;
    color: #333;
    font-weight: bold;
}

p {
    color: #666;
}
